@import url('https://fonts.googleapis.com/css2?family=Courgette&family=Dancing+Script:wght@400..700&display=swap');
.info{
    background-color: transparent;
    margin-bottom: 50px;
    text-align: center;
}

.content h2 {
    font-family: "Dancing Script", cursive;
    font-size: 70px;
    color: #39312f;
    margin-bottom: 20px;
}
  
.content p {
    font-family: "Courgette", cursive;
    padding-right: 10%;
    padding-left: 10%;
    font-size: 20px;
    line-height: 1.8;
    color: #4b433f;
    margin-bottom: 15px;
}
  