.create-listing {
  max-width: 600px;
  margin: 40px auto;
  padding: 20px;
  background-color: #f7e9db;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  font-family: Arial, sans-serif;
}

.create-listing h1 {
  text-align: center;
  margin-bottom: 20px;
  color: #463b36;
  font-family: 'Courgette', cursive;
  font-size: 36px;
}

.listing-form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  font-family: 'Courgette';
}

.listing-form label {
  display: flex;
  flex-direction: column;
  font-size: 16px;
  font-weight: bold;
  color: #4d3b31;
}

.listing-form input {
  margin-top: 8px;
  padding: 12px;
  border: 1px solid #ddd;
  border-radius: 10px;
  font-size: 16px;
  color: #5d4639;
  background-color: #fbf2e7;
  outline: none;
  transition: border-color 0.3s ease;
}

button {
  margin-top: 15px;
  padding: 12px;
  border: none;
  border-radius: 8px;
  background-color: #503b31;
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #413027;
}

