@import url('https://fonts.googleapis.com/css2?family=Courgette&family=Dancing+Script:wght@400..700&display=swap');
.login {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content:center;
  height: 75vh;
}

.loginform {
  display: flex;
  flex-direction: column;
  background: #fdf6ef;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 30px;
  border-radius: 20px;
  width: 330px;
}

.loginform h1 {
  font-family: 'Dancing Script', cursive;
  color: #524139;
  font-size: 50px;
  margin-bottom: 20px;
  text-align: center; 
  margin-top: 0; 
  position: relative; 
}

.loginform input {
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #8b766d;
  border-radius: 8px;
}

.loginform button {
  font-family: 'Courgette';
  font-size: 17px;
  padding: 6px;
  background-color: #726159;
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

.button:hover {
  background-color: #534236;
}

.loginform p {
  font-size: 14px;
}

.loginform a {
  color: #8b766d;
  text-decoration: none;
  }

.loginform a:hover {
  color: #443327;
  }
